#header {
    height: 70px;
    background-color: #121212;
    color: white;
    display: flex;
    align-items: center;
    position: relative;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 1.5rem;

        #logo {
            font-family: 'Inter', sans-serif;
            font-weight: 800;
            font-size: 22px;
            letter-spacing: 3px;
            z-index: 111;
        }

        .hamburger {
            display: none;
            font-size: 28px;
            background: none;
            border: none;
            color: white;
            cursor: pointer;
            z-index: 111;
        }
    
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0 15px;
            text-transform: capitalize;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 20px;
    
            li {
                font-size: 16px;
    
                a {
                    text-decoration: none;
                    color: inherit;

                    &:hover {
                        color: #9d9d9d;
                    }
                }

                .nav-link-button {
                    background: none;
                    border: none;
                    color: inherit;
                    cursor: pointer;
                    font-size: 16px;
                    padding: 0;

                    &:hover {
                        color: #9d9d9d;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #header {        
        nav {
            .hamburger {
                display: block;
            }

            ul {
                position: absolute;
                top: 70px;
                left: 0;
                right: 0;
                flex-direction: column;
                align-items: flex-start;
                background-color: #121212;
                padding: 20px;
                display: none;
                z-index: 122;
                max-height: calc(100vh - 70px);

                &.open {
                    display: flex;
                }

                li {
                    width: 100%;
                    padding: 10px 0;
                    display: flex;
                    justify-content: center;

                    .colorful-button, a, .nav-link-button {
                        width: 100%;
                        padding-left: 10px;
                        display: inline-flex;
                        justify-content: center;
                    }
                }
            }
        }
    }
}